@model RegisterModel 

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    Üyelik Kaydı
                </div>
                <div class="card-body">
                    <form asp-action="Register" asp-controller="Account" method="post">
                        <div class="text-danger" asp-validation-summary="All"> </div>
                    @*    <div class="form-group row">
                            <label asp-for="UserName" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="UserName" value="@Model.UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>*@
                        <div class="form-floating mb-3">
                            <input asp-for="UserName" value="@Model.UserName" type="text" class="form-control" id="UserName" placeholder=".">
                            <label asp-for="UserName" value="@Model.Email">E-mail</label>
                        </div>
                         <div class="form-floating mb-3">
                            <input asp-for="Tckimlik" value="@Model.Tckimlik" type="text" class="form-control" id="Tckimlik" placeholder=".">
                            <label asp-for="Tckimlik" value="@Model.Tckimlik">Tckimlik</label>
                        </div>
                       @* <div class="form-group row">
                            <label asp-for="Tckimlik" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Tckimlik" value="@Model.Tckimlik" class="form-control" />
                                <span asp-validation-for="Tckimlik" class="text-danger"></span>
                            </div>
                        </div>*@
                        <div class="form-floating mb-3">
                          <input asp-for="Email" value="@Model.Email" type="email" class="form-control" id="Email" placeholder=".">
                          <label asp-for="Email" value="@Model.Email">E-mail</label>
                        </div>
                       @* <div class="form-group row">
                            <label asp-for="Email" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Email" value="@Model.Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>*@
                        <div class="form-floating mb-3">
                            <input asp-for="Password" value="@Model.Password" type="password" class="form-control" id="Password" placeholder=".">
                            <label asp-for="Password" value="@Model.Password">Parola</label>
                        </div>
                          <div class="form-floating mb-3">
                            <input asp-for="RePassword" value="@Model.RePassword" type="password" class="form-control" id="RePassword" placeholder=".">
                            <label asp-for="RePassword" value="@Model.RePassword">Tekrar-Parola</label>
                        </div>
                      @*  <div class="form-group row">
                            <label asp-for="Password" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" value="@Model.Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>*@
                    @*    <div class="form-group row">
                           <label asp-for="RePassword" class="col-md-2 col-form-label"></label>
                            <div class="col-md-10">
                                <input asp-for="RePassword" value="@Model.RePassword" class="form-control" />
                                <span asp-validation-for="RePassword" class="text-danger"></span>
                            </div>
                        </div>*@
                     <div class="col-md-12">
                             <button type="submit" class="btn btn-outline-success w-100"> Kaydet</button>
                     </div>
       
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>